body{
	text-align:center;
	background-color:#f8f8f8;
}
 
.book-library{
	background-color:#f8f8f8;	
}
.book img{
	padding:50px;
}
 div .price-block{
	color:#2ecc71;
	background-color:green;
}
.book{
    margin-top: 20px;
    padding-bottom: 5px;
}